.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
dist/
build/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.nox/
.coverage
.coverage.*
htmlcov/
.pyre/
.env
.env.*
.DS_Store
.idea/
.vscode/
out/
notes/
uv.lock
